# Global maintainers 
* @kononovn @trewest

# Assisted pkg code owners
pkg/assisted/ @trewest

# Hive pkg code owners
pkg/hive/ @trewest

# KMM pkg code owners
pkg/kmm/ @cdvultur

# MetalLB pkg code owners
pkg/metallb/ @kononovn

# NAD pkg code owners
pkg/nad/ @kononovn

# NFD pkg code owners
pkg/nfd/ @wabouhamad

# NvidiaGPU pkg code owners
pkg/nvidiagpu/ @wabouhamad

# SRIOV pkg code owners
pkg/sriov/ @kononovn

# ConfigMap pkg code owners
pkg/configmap/ @achuzhoy

# Clients pkg code owners
pkg/clients/ @kononovn

# Namespace pkg code owners
pkg/namespace/ @kononovn

# Network pkg code owners
pkg/network/ @trewest

# Nodes pkg code owners
pkg/nodes/ @kononovn

# OLM pkg code owners
pkg/olm/ @wabouhamad

# Pod pkg code owners
pkg/pod/ @kononovn

# PTP pkg code owners
pkg/ptp/ @kononovn

# RBAC pkg code owners
pkg/rbac/ @achuzhoy

# Reporter pkg code owners
pkg/reporter/ @kononovn

# Secret pkg code owners
pkg/secret/ @achuzhoy

# Service pkg code owners
pkg/service/ @trewest
