# yaml-language-server: $schema=https://raw.githubusercontent.com/oapi-codegen/oapi-codegen/HEAD/configuration-schema.json
package: artifacts
output: artifacts.gen.go

generate:
  client: true
  models: true

output-options:
  skip-fmt: false
  skip-prune: true
  nullable-type: true
  name-normalizer: ToCamelCaseWithDigits

import-mapping:
  ../common/openapi.yaml: "github.com/openshift-kni/eco-goinfra/pkg/oran/api/internal/common"
