---
- name: image-based-group-upgrades-v1alpha1
  sync: true
  repo_link: "https://github.com/openshift-kni/cluster-group-upgrades-operator"
  branch: main
  remote_api_directory: pkg/api/imagebasedgroupupgrades
  local_api_directory: schemes/imagebasedgroupupgrades
  replace_imports:
    - old: '"github.com/openshift-kni/cluster-group-upgrades-operator/pkg/api/imagebasedgroupupgrades/v1alpha1"'
      new: '"github.com/openshift-kni/eco-goinfra/pkg/schemes/imagebasedgroupupgrades/v1alpha1"'
    - old: '"github.com/openshift-kni/cluster-group-upgrades-operator/pkg/api/imagebasedgroupupgrades"'
      new: '"github.com/openshift-kni/eco-goinfra/pkg/schemes/imagebasedgroupupgrades"'
  excludes:
    - "*_test.go"