name: Integration Testing (Nightly)

on:
  workflow_dispatch:
  # Triggers the workflow every day
  schedule:
    - cron: "0 0 * * *"

jobs:
  integration-k8s:
    if: github.repository_owner == 'openshift-kni'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-22.04-arm]
    env:
      SHELL: /bin/bash
      KUBECONFIG: '/home/runner/.kube/config'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Setup cluster (k8s)
        uses: palmsoftware/quick-k8s@v0.0.35
        with:
          waitForPodsReady: true

      - name: Run integration tests
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 90
          max_attempts: 3
          command: make integration-test

  integration-ocp:
    if: github.repository_owner == 'openshift-kni'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04]
    env:
      SHELL: /bin/bash
      KUBECONFIG: '/home/runner/.kube/config'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Setup cluster (ocp)
        uses: palmsoftware/quick-ocp@v0.0.13
        with:
          ocpPullSecret: $OCP_PULL_SECRET
          bundleCache: true
        env:
          OCP_PULL_SECRET: ${{ secrets.OCP_PULL_SECRET }}

      - name: Run integration tests
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 90
          max_attempts: 3
          command: make integration-test
