name: Integration Testing

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  integration-k8s:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-22.04-arm]
    env:
      SHELL: /bin/bash
      KUBECONFIG: '/home/runner/.kube/config'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go 1.23
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.5

      - name: Setup cluster (k8s)
        uses: palmsoftware/quick-k8s@v0.0.18

      - name: Run integration tests
        run: make integration-test
