name: Update external libs

on:
  # Triggers the workflow every day
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
permissions:
  contents: read

jobs:
  sync-libs:
    permissions:
      contents: write  # for peter-evans/create-pull-request to create branch
      pull-requests: write  # for peter-evans/create-pull-request to create a PR

    runs-on: ubuntu-22.04
    env:
      SHELL: /bin/bash

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go 1.23
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.5

      - name: Run sync script
        run: make lib-sync

      - name: Create PR
        uses: peter-evans/create-pull-request@67ccf781d68cd99b580ae25a5c18a1cc84ffff1f # v7.0.6
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_KEY }}
        with:
          commit-message: "sync: update external libs"
          author: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
          title: Sync update external libs
          body: |
            - sync update external libs
          branch: sync
          delete-branch: true
